name: CI

on:
  push:
    branches:
      - main
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Docker Image
        run: |
          docker build -t my-image -f ./docker/Dockerfile .
          
      - name: Run Tests
        run: |
          docker run my-image npm test

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          tags: camera-streaming-server:latest
